%tr
  %td
    = button_to vote_up_post_comment_path(post, comment), remote: true, method: :post do
      %i.fa.fa-thumbs-up
  %td
    %h4{ id: "#{comment.id}" }
      = "#{comment.sum_votes} (#{comment.sum_down_votes})"
  %td
    = button_to vote_down_post_comment_path(post, comment), remote: true, method: :post do
      %i.fa.fa-thumbs-down
  - if post_owner?
    %td
      = button_to mark_as_not_abusive_post_comment_path(post, comment), remote: true, method: :post do
        %i.fa.fa-comment
        not abusive
    %td
  %td.column1
    = comment.body
