.post--full-size
  %h2
    = post.title
    %small
      = post.friendly_date
  - if post_owner?
    = link_to "edit", edit_post_path(post), class: 'post__button--edit'

  .post__body
    = post.body

  %table
    %tbody
      = render comments
  = render "comments/form"         

  .post__tags-list.tagsinput
    - post.tags_array.each do |tag|
      = content_tag :span, tag, class: 'tag'
